@import "/css/zero_style.css";
@import "/css/general_style.css";

.content {
    color: white;
    &__tables {
    }
    &__table {
        border: 3px solid white;
    }
    .table_main {
        display: grid;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: minmax(300px, 1400px);
        row-gap: 10px;
        &__title {
            justify-self: center;
            font-size: 30px;
        }
        &__row {
            display: grid;
            grid-template-columns: 1fr 40px;
            font-size: 24px;
        }
        &__name {
        }
        &__score {

        }
        &__row_general{
            font-weight: 700;
        }
    }
}