@import "/css/zero_style.css";
body{
    position: relative;
}
.form {
    background: #4c1616;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.form__body {
    
}
.form__title {
    margin: 10px;
}
.title {
    color: #fff;
    font-size: 20px;
}
.form__pole {
    display: flex;
    flex-direction: column;
    align-items: center;
}
%pole{
    width: 150px;
    height: 30px;
}
.form__pole-login {
    margin: 10px 0;
    @extend %pole;
}
.form__pole-passw {
    @extend %pole;
    margin-bottom: 10px;
}
.form__remember {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    
}
.form__butt {
    button{
        width: 100px;
        padding: 10px;
        border-radius: 8px;
        margin: 0 0 10px 0;
        background: #2166ac;
        font-size: 20px;
        color: #fff;

    }
}