<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "./css/editTable.css" %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__img">
                <img src="{% static "/img/Gerb.jpg" %}" alt="Gerb">
            </div>
            <ul class="header__nav">
                <li class="header__item"><a href="{% url 'teacher' %}">{{group_name}}</a></li>              
            </ul>
        </header>
        <div class="content">
            <h2 class="content__title">Общее количество баллов</h2>
            <form action="#" class="content__form form">
                <div class="form__table table">
                    <div class="table__row row row_head table__row_main">
                        <div class="row__item row__item_main">ФИО</div>
                        {% if students %}
                        {% with students|first as student %}
                            {% for c in student.categories %}
                            <div class="row__item row__item_main row__item_add">
                                <div class="table__row row row__item_main">
                                    <div class="row_item"> {{c.name}} </div>
                                </div>
                                <div class="table__row row row__item_main">
                                    {% for atom in c.atoms %}
                                    <div class="row_item">{{atom.atom_name}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        {% endwith %}
                        {% else %}
                        <div class="row__item row__item_main row__item_add">
                            <div class="table__row row row__item_main">
                                <div class="row_item"> Пусто </div>
                            </div>
                            <div class="table__row row row__item_main">                                    
                                <div class="row_item">-</div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row__item row__item_main">Общее кол-во</div>
                        <div class="row__item row__item_main">Оценка</div>
                    </div>

                    {% for s in students %}
                    <div class="table__row row row_student">
                        <div class="row__item row__item_main">
                            {{s.name}}
                        </div>
                        {% for c in s.categories %}
                            {% for a in c.atoms %}
                            <div class="row__item">
                                <div class="row__pole">
                                    <input id="{{a.id}}" placeholder={{a.scores}} type="text">
                                </div>
                            </div>
                            {% endfor %}
                        {% empty %}
                        <div class="row__item row__item_main">
                            Пусто
                        </div>
                        {% endfor %}
                    </div>
                    {% empty %}
                    <div class="row__item row__item_main">
                        Пусто
                    </div>
                    {% endfor %}

                    <div class="table__row row"></div>
                    <div class="table__row row"></div>
                    <div class="table__row row"></div>
                </div>
                <div class="form__buttons">
                    <button type="submit" class="form__save">Сохранить</button>
                    <button type="reset" class="form__cancel">Отменить</button>
                </div>
            </form>
        </div>
        <footer class="footer">
            <div class="footer__row">
                <div class="footer__authors">
                    Авторы:
                    <a href="https://vk.com/ru.bachatero">Максим Булычев</a>
                    <a href="https://vk.com/firsang">Георгий Фирсанов</a>
                    <a href="https://vk.com/dos100evskiy">Андрей Юрков</a>
                    <a href="https://vk.com/zl0i_belyi">Владислав Квасюк</a>
                </div>
                <div class="footer__goal">
                    Сделано в качестве проекта по компьютерному практикуму
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../../static/js/editTable.js">
        /*function Sub(){
            var n, k, r, e, v, sum, avg;
            n=(document.getElementById('aname').value);
            k=parseFloat(document.getElementById('am').value);
            r=parseFloat(document.getElementById('aj').value);
            e=parseFloat(document.getElementById('ad').value);
            v=parseFloat(document.getElementById('an').value);
            // Calculating Total
            sum=k+r+e+v;
            avg=sum/4;
            // Display on Student Data
            var newTable = document.getElementById('TableScore');
            var row = newTable.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(0);
            var cell3 = row.insertCell(0);
            var cell4 = row.insertCell(0);
  
            cell4.innerHTML= n;
            cell3.innerHTML=sum;
            cell2.innerHTML = avg;
  
            if(avg>=70){
                cell1.innerHTML="<font color=green>Pass</font>";
            }else{
                cell1.innerHTML="<font color=red>Fail</font>";
            }
        }*/
    </script>
</body>
</html>