<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/group.css" %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__img">
                <img src="{% static "/img/Gerb.jpg" %}" alt="Gerb">
            </div>
            <ul class="header__nav">
                <li class="header__item"><a href="{% url 'student' %}">На главную</a></li>
                <li class="header__item"><a href="{% url 'student' %}">{{group}}</a></li>                
            </ul>
        </header>
        <div class="content">
            <div class="content__head">Группа</div>
            <div class="content__spisok">
                {% for student in students %}
                <a class="content__item" class="content__item" class="content__item">{{student.first_name}} {{student.last_name}}<br></a>
                {% endfor %}
            </div>
        
        </div>
        <footer class="footer">
            <div class="_container">
                <div class="footer__row">
                    <div class="footer__authors">
                        Авторы: <br>
                        <a href="https://vk.com/ru.bachatero">Максим Булычев</a><br>
                        <a href="https://vk.com/firsang">Георгий Фирсанов</a><br>
                        <a href="https://vk.com/dos100evskiy">Андрей Юрков</a><br>
                        <a href="https://vk.com/zl0i_belyi">Владислав Квасюк</a> <br>
                    </div>
                    <a  class="footer__logout" href="{% url 'logout' %}">Выход</a>
                    <div class="footer__goal">
                        Сделано в качестве проекта по компьютерному практикуму
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>