<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Main Page</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    </head>
    <body>
        <header>
            <h1 ALIGN="center">Группа О712Б</h1>
            <nav>links navigations</nav>
        </header>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nemo laborum, atque blanditiis nulla quae possimus modi laudantium et rerum distinctio libero dolore. Deleniti placeat, deserunt ipsa repellendus maxime ipsum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quis iusto excepturi sed consequuntur. Accusantium!</div>
        <div>Lorem ipsum dolor sit amet.</div>
        <footer> Authors: Max Bulychev</footer>
    </body>
</html>