@import "./zero_style.css";
@import "./general_style.css";

.content{
  justify-content: start;
}
.content__head {
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px;
  letter-spacing: 2px;
  margin: 15px;
  padding: 15px 30px;
  border: 3px solid #000;
  box-shadow: 1px 0px 10px #000;
  margin-bottom: 40px;
}

.content__spisok {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content__item {
  padding: 10px 20px;
  color: #000;
  margin: 5px 0;
  text-align: left;
  background: #f7f7f7;
  box-shadow: 1px 1px 1px 2px #f1f1f1;
  font-size: 30px;
  letter-spacing: 2px;
  border-radius: 3px;
}
.content__item:first-child {
  margin-top: 0;
}
.content__item:last-child {
  margin-bottom: 15px;
}
.content__item:nth-child(even) {
  background: #d97b24;
  box-shadow: 1px 1px 1px #d97b24;
}
.content__item:nth-child(even):hover {
  background: #b95b04;
  box-shadow: 1px 1px 1px #d97b24;
}
.content__item:nth-child(even):active {
  background: #7a3d04;
  box-shadow: 1px 1px 1px #d97b24;
  color: #eee;
  box-shadow: none;
  transition-delay: 30ms;
  transition-duration: 150ms;
}
.content__item:hover {
  background: #e0e0e0;
  box-shadow: 1px 1px 1px #e0e0e0;
  transition-delay: 5ms;
}
.content__item:active {
  background: #808080;
  color: #fff;
  box-shadow: none;
  transition-delay: 30ms;
  transition-duration: 150ms;
}
