<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "css/autoriz.css" %}'>
</head>
<body>
    <div class="wrapper">
        <header class="header">Страница входа</header>
        <div class="content">
            <form method = 'POST' class="autoriz__form form">{% csrf_token %}
                <div class="form__title">Авторизация</div>
                <input class="form__input" type="text"  name="username" placeholder="Логин">
                <input class="form__input" type="password" name="password" placeholder="Пароль">
                <div class="form__check">
                    <input disabled class="autoriz__form-check" type="checkbox">   Запомнить
                </div>
                <button class="form__butt" type="submit">Вход</button>
            </form>
        </div>
        <footer class="footer">
            <div class="footer__row">
                <div class="footer__authors">
                    Авторы: <br>
                    <a href="https://vk.com/ru.bachatero">Максим Булычев</a><br>
                    <a href="https://vk.com/firsang">Георгий Фирсанов</a><br>
                    <a href="https://vk.com/dos100evskiy">Андрей Юрков</a><br>
                    <a href="https://vk.com/zl0i_belyi">Владислав Квасюк</a> <br>
                </div>
                <div class="footer__goal">
                    Сделано в качестве проекта по компьютерному практикуму
                </div>
            </div>
        </footer>
    </div>
     <script>
        setTimeout(function(){
            window.location.reload(1);
            }, 1000);
     </script>
</body>
</html>