<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css\autoriz.css" %}">
</head>
<body>
    <form method = 'post'>
        {% csrf_token %}
    <div class="wrapper">
        <header class="header">Header</header>
        <div class="content">
            <div class="autoriz">
                <form action="#" method="get" class="autoriz__form">
                     <div class="autoriz__form-title">Авторизация</div>
                        <input class="autoriz__form-input" type="text"  name="userlog" placeholder="Логин">
                        <input class="autoriz__form-input" type="password" name="userpas" placeholder="Пароль">
                        <input class="autoriz__form-input" type="password" name="userpas2" placeholder="Повторите пароль">
                        <div class="autoriz__form-check">

                            <input disabled class="autoriz__form-check" type="checkbox">   Запомнить
                        </div>
                        <button class="autoriz__form-butt" type="submit">Вход</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__row">
                <div class="footer__authors">
                    Авторы: <br>
                    <a href="https://vk.com/ru.bachatero">Максим Булычев</a><br>
                    <a href="https://vk.com/firsang">Георгий Фирсанов</a><br>
                    <a href="https://vk.com/dos100evskiy">Андрей Юрков</a><br>
                    <a href="https://vk.com/zl0i_belyi">Владислав Квасюк</a> <br>
                </div>
                <div class="footer__goal">
                    Сделано в качестве проекта по компьютерному практикуму
                </div>
            </div>
        </footer>
    </div>
    </form>
</body>
</html>